.profile-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
    margin-top: 9em;
    margin-bottom: 10em;
}

.profile-area h2 {
	text-align: center;
}

.profile-area ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.profile-area ul li {
	margin-right: 10px;
}

.profile-area ul li a {
	color: #333;
	text-decoration: none;
	padding: 5px;
	background-color: #f2f2f2;
	border-radius: 0.5em;
}

.profile-area ul li a:hover {
	background-color: #333;
	color: #fff;
}




.profilo {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

div h1 {
    text-align: center;
}

.profile-card-container {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.profile-card-container h2 {
    margin: 5px 0;
}

.profile-card {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.profile-card h2 {
    margin: 5px 0;
}

.back-button {
	
	top: 100px;
	margin-left: 17em;
	background-color: #319a54;
	color: #fff;
	border: none;
	padding: 9px 14px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

<!--style modifica profilo --1>

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
  }
  
  

  .registration-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 4em;
	margin-bottom: 5em;
  }
  
  .registration-container h2 {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .registration-container form {
	display: grid;
	grid-gap: 7px;
  }
  
  .registration-container label {
	font-weight: bold;
  }
  
  .registration-container input[type="text"],
  .registration-container input[type="date"]
  {
	width: 100%;
	padding: 5px;
	
  }
  
  .registration-container select {
	width: 103.5%;
	padding: 5px;
	
  }
  
  .registration-container button {
	background-color: rgb(208, 148, 16);
	color: #fff;
	border: none;
	padding: 7px 10px;
	border-radius: 0.5em;
	cursor: pointer;
	margin-top: 5px;
	width: 103.5%;
  }


.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}